.header-full {
    background-color: green;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-empty {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}